<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_content_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,412},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_content_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,412},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,412},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,412},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,461},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,411},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,461},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,385},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,461},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_info_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,359},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,1168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,1168}}</string>
                <key>sourceSize</key>
                <string>{360,1168}</string>
            </dict>
            <key>mb_img_answer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,359},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mb_img_answer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,359},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mb_img_answer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,334},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mb_img_answer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,334},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mb_img_betbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,224},{370,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,186}}</string>
                <key>sourceSize</key>
                <string>{370,186}</string>
            </dict>
            <key>mb_img_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{812,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{812,220}}</string>
                <key>sourceSize</key>
                <string>{812,220}</string>
            </dict>
            <key>mb_img_content_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,461},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>mb_img_num_all_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,437},{115,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,22}}</string>
                <key>sourceSize</key>
                <string>{115,22}</string>
            </dict>
            <key>mb_img_num_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,412},{117,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,23}}</string>
                <key>sourceSize</key>
                <string>{117,23}</string>
            </dict>
            <key>mb_img_table_grid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,364},{122,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,190}}</string>
                <key>sourceSize</key>
                <string>{122,190}</string>
            </dict>
            <key>mb_img_table_grid_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,364},{190,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,122}}</string>
                <key>sourceSize</key>
                <string>{190,122}</string>
            </dict>
            <key>mb_img_vfx_12corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,364},{141,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,124}}</string>
                <key>sourceSize</key>
                <string>{141,124}</string>
            </dict>
            <key>mb_img_vfx_13fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,224},{108,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,280}}</string>
                <key>sourceSize</key>
                <string>{108,280}</string>
            </dict>
            <key>mb_img_vfx_14corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,364},{124,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,142}}</string>
                <key>sourceSize</key>
                <string>{124,142}</string>
            </dict>
            <key>mb_img_vfx_23corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,364},{142,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,124}}</string>
                <key>sourceSize</key>
                <string>{142,124}</string>
            </dict>
            <key>mb_img_vfx_24fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{124,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,192}}</string>
                <key>sourceSize</key>
                <string>{124,192}</string>
            </dict>
            <key>mb_img_vfx_34corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,364},{142,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,124}}</string>
                <key>sourceSize</key>
                <string>{142,124}</string>
            </dict>
            <key>mb_img_vfx_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,224},{144,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,133}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeTuList.png</string>
            <key>size</key>
            <string>{1986,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6809f3bcee678e6f49b9556a69c314be$</string>
            <key>textureFileName</key>
            <string>HeTuList.png</string>
        </dict>
    </dict>
</plist>
