<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_vfx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,224},{344,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,341}}</string>
                <key>sourceSize</key>
                <string>{344,341}</string>
            </dict>
            <key>ani_vfx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,224},{297,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,365}}</string>
                <key>sourceSize</key>
                <string>{297,365}</string>
            </dict>
            <key>img_dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,645},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>img_dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,645},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>img_dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,645},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>img_dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,645},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>img_dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,448},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>img_dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,645},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>img_dice_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,415},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>img_dice_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,385},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>img_dice_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,355},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>img_dice_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,325},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>img_dice_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,179},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>img_dice_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,523},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>img_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,1014}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{722,1014}}</string>
                <key>sourceSize</key>
                <string>{722,1022}</string>
            </dict>
            <key>mb_img_betbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,567},{375,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,76}}</string>
                <key>sourceSize</key>
                <string>{375,76}</string>
            </dict>
            <key>mb_img_chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,523},{169,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,306}}</string>
                <key>sourceSize</key>
                <string>{169,306}</string>
            </dict>
            <key>mb_img_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{812,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{812,220}}</string>
                <key>sourceSize</key>
                <string>{812,220}</string>
            </dict>
            <key>mb_img_content_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,703},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>mb_img_table_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,224},{222,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,102}}</string>
                <key>sourceSize</key>
                <string>{222,102}</string>
            </dict>
            <key>num_show_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,523},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,57}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>num_show_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,652},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,56}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>num_show_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,656},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,57}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>num_show_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,588},{66,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,57}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>num_show_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,448},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,57}}</string>
                <key>sourceSize</key>
                <string>{70,59}</string>
            </dict>
            <key>num_show_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,585},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,56}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>num_show_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,519},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,57}}</string>
                <key>sourceSize</key>
                <string>{69,59}</string>
            </dict>
            <key>num_show_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,518},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,56}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>num_show_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,593},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,57}}</string>
                <key>sourceSize</key>
                <string>{69,59}</string>
            </dict>
            <key>num_show_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,662},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,57}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>num_show_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>num_show_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,209},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,56}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>num_show_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,120},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,57}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>num_show_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,267},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,56}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>num_show_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,61},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,57}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>num_show_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,645},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,57}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SicBoHeTu.png</string>
            <key>size</key>
            <string>{1879,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f12c1b0f945c32b55819c154ef29ee$</string>
            <key>textureFileName</key>
            <string>SicBoHeTu.png</string>
        </dict>
    </dict>
</plist>
