<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card004.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{116,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,52}}</string>
                <key>sourceSize</key>
                <string>{116,52}</string>
            </dict>
            <key>card010.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{116,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>card014.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>card019.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{116,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,52}}</string>
                <key>sourceSize</key>
                <string>{116,52}</string>
            </dict>
            <key>card023.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{117,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,53}}</string>
                <key>sourceSize</key>
                <string>{117,53}</string>
            </dict>
            <key>card026.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{116,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>card032.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{116,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>card033.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{116,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>card039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>h_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>h_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,21},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>h_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>h_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,28},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>h_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,2},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>h_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>h_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,29},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>h_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,2},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>h_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,29},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>h_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,29},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>h_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chip.png</string>
            <key>size</key>
            <string>{1192,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:163e62d2ebe0c1b6f99bb6ea8becb726$</string>
            <key>textureFileName</key>
            <string>Chip.png</string>
        </dict>
    </dict>
</plist>
