<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ci_chip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{53,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,116}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{53,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{53,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{51,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,116}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{53,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{53,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{53,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{53,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{53,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,118}}</string>
                <key>sourceSize</key>
                <string>{53,120}</string>
            </dict>
            <key>ci_chip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,64},{17,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>ci_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,38},{11,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>ci_chip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,88},{17,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>ci_chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,62},{17,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,24}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>ci_chip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,107},{19,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>ci_chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,64},{17,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>ci_chip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,35},{19,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>ci_chip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,90},{15,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>ci_chip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,107},{19,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>ci_chip_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,29},{17,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>ci_chip_colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,107},{7,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,17}</string>
            </dict>
            <key>ci_chip_comma.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,56},{7,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>ci_chip_halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,124}}</string>
                <key>sourceSize</key>
                <string>{131,126}</string>
            </dict>
            <key>ci_chip_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,35},{25,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>ci_chip_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{17,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>ci_chip_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,26},{7,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,28}}</string>
                <key>sourceSize</key>
                <string>{7,30}</string>
            </dict>
            <key>ci_chip_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,67},{24,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>ci_chip_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,122},{17,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,4}}</string>
                <key>sourceSize</key>
                <string>{17,6}</string>
            </dict>
            <key>ci_chip_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,107},{17,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>ci_chip_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,120},{6,5}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{6,5}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>ci_chip_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,29},{7,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,28}}</string>
                <key>sourceSize</key>
                <string>{7,30}</string>
            </dict>
            <key>ci_chip_rb.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{30,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>ci_chip_tr.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{28,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>desk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>img_content_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,38},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_content_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,95},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_content_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,83},{22,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chip_List.png</string>
            <key>size</key>
            <string>{736,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3ec683ff91640cd3a370db5efbffc3$</string>
            <key>textureFileName</key>
            <string>Chip_List.png</string>
        </dict>
    </dict>
</plist>
