<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,158},{668,273}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{668,273}}</string>
                <key>sourceSize</key>
                <string>{668,281}</string>
            </dict>
            <key>but_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>card000.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,80},{104,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>card002.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{104,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>card011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,136},{4,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,19}}</string>
                <key>sourceSize</key>
                <string>{4,19}</string>
            </dict>
            <key>card029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,50},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>card031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,116},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>card035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,26},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>card072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,74},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>chaos023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{890,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,86}}</string>
                <key>sourceSize</key>
                <string>{890,86}</string>
            </dict>
            <key>chaos_227.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,90},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>chaos_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,994},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>default_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,94},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>desk012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,994},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>desk052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{320,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,66}}</string>
                <key>sourceSize</key>
                <string>{320,66}</string>
            </dict>
            <key>img_content_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,994},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_content_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,994},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>img_content_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{22,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sheet002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{792,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,72}}</string>
                <key>sourceSize</key>
                <string>{792,72}</string>
            </dict>
            <key>sheet_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,158},{664,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{664,366}}</string>
                <key>sourceSize</key>
                <string>{670,366}</string>
            </dict>
            <key>sheet_cn_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{176,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,40}}</string>
                <key>sourceSize</key>
                <string>{176,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeList.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e6abc4eb9446155b8fc8eed0a8ea1b$</string>
            <key>textureFileName</key>
            <string>HeList.png</string>
        </dict>
    </dict>
</plist>
